<h1>Coffee Cups Logs</h1>

<table *ngIf="coffeeCups!.length > 0; else EmptyList">
    <thead>
        <tr>
            <th> Id</th>
            <th> Cups</th>
            <th> Cup Measure</th>
            <th> Description</th>
            <th> Date</th>
            <th> Cup Units</th>
            <th> Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cup of coffeeCups">
            <td> {{cup.id}}</td>
            <td> {{cup.quantity}}</td>
            <td> {{cup.measure}}</td>
            <td> {{cup.description}}</td>
            <td> {{cup.date.toLocaleDateString()}}</td>
            <td> {{getEnumString(cup.units)}}</td>
            <td>
                <a class="button" routerLink="/coffeecups/details/{{cup.id}}">
                    <span>{{cup.id}}</span> 
                </a>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #EmptyList>
    <h3> No logs found</h3>
</ng-template>

<div>
    <button routerLink="/coffeecups/create">
        <span>Create New</span>
    </button>
</div>


