.notification {
    color: #333;
    background-color: #eee;
    margin-bottom: 12px;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.success {
    color: #000;
    background-color: #ddffdd;
    opacity: 75%;
    margin-bottom: 12px;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}


.error {
    color: #000 ;
    background-color: #ffdddd;
    margin-bottom: 12px;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
